{% extends 'core/layout.html' %}
{% load static %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
</head>

{% block title %}
    <h1 style="text-align: center">OMAC</h1>
    <h2 style="text-align: center; font-family: Bahnschrift; font-size: large">Texto aburrido sobre OMAC</h2>
{% endblock %}

{% block content %}
    <div>
        <img class="Imagen-Centrada" src="{% static 'back.jpg' %}" style="object-fit: contain;" height="250" alt="F">
    </div>
{% endblock %}